<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django Page</title>

    <h1>引导页面</h1>

            <div>
                <li> <a href="/event_manage/">计算机信息展示</a> </li>
                <li><a href="/Inventory/" >资产盘点界面</a></li>
                <li> <a href="/Statistical_computer/">计算机资产在线统计(需要等待生成页面约：5 - 10秒)</a> </li>
                <li><a href="/show_ip/">MAC地址绑定界面（需要等待生成页面约：5 - 10秒）</a></li>
                <li><a href="/input_datebase/" >计算机盘点生成记录（IT专用生成数据库）</a></li>
                <li><a href="/admin/" >后台管理页面</a></li>
                <li><a href="/ccd_huose/">生成房屋爬虫数据</a></li>
            </div>
</head>
<body>

</body>
</html>